---
layout: posts
entries_layout: grid
classes: wide
title: "MIAA LAB"
excerpt: |
  **Machine Intelligence & Advanced Adaptation Laboratory**  
  An AI lab in the Shien-Ming Wu School of Intelligent Engineering at South China University of Technology


header:
  overlay_image: /assets/images/mountains.png
  overlay_filter: 0.25 
  actions:
    - label: "Learn More"
      url : "/projects"
      icon: "fas fa-th-list"
      classes: "btn--primary btn--large"
intro: 
  - excerpt: 'We study deep learning, embodied intelligence, FPGA, and more. Our research focuses on developing innovative methodologies in these domains to advance the field of artificial intelligence.'
    url: "/projects"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
feature_row:
  - image_path: /assets/images/projects/CL.png
    alt: "placeholder image 1"
    title: "Continued Learning"
    excerpt: "Continued learning is the ongoing, self-motivated pursuit of knowledge and skills to adapt and thrive in a rapidly changing world."
    url: "/projects"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/projects/EI.jpg
    alt: "placeholder image 2"
    title: "Embodied Intelligence"
    excerpt: "Embodied Intelligence refers to the concept that an intelligent agent's ability to perceive, learn, and act arises from its physical interaction with the environment."
    url: "/projects"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/projects/LLM.png
    title: "Large Language Models (LLMs)"
    excerpt: "​LLMs are advanced AI systems trained on vast amounts of text data to understand and generate human-like language, enabling tasks such as answering questions, writing essays, and translating languages. ​"
    url: "/projects"
    btn_label: "Read More"
    btn_class: "btn--inverse"


feature_row2:
  - image_path: /assets/images/papers.jpg
    title: "OUR PUBLICATIONS"
    excerpt: 'Discover our research contributions presented at top conferences like CVPR, NeurIPS, AAAI, and more.'
    url: "/papers"
    btn_label: "Papers"
    btn_class: "btn--inverse"   

feature_row3:
  - image_path: /assets/images/group.jpg
    title: "MEET OUR TEAM!"
    excerpt: 'Get to know the brilliant minds driving innovation and creativity in our lab. Together, we make AI smarter!'
    url: "/members"
    btn_label: "Members"
    btn_class: "btn--inverse"

feature_row4:
  - image_path: /assets/images/contact.jpg
    title: "JOIN US!"
    excerpt: |
          We are looking for talented individuals to join our team.      
          If you are passionate about AI, we would love to hear from you!
    url: "/contact"
    btn_label: "Contact"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}



